spring:
  profiles:
    active: release
  redis:
    password: saberedis
    host: 47.52.105.7
  security:
    user:
      name: saber
      password: lion
server:
  port: 12333

mybatis:
    configuration:
      map-underscore-to-camel-case: true
logging:
  path: /usr/local/tomcat/logs/example
---
#dev
spring:
  profiles: dev
  datasource:
    url: jdbc:mysql://47.52.105.7:3306/saberdb?useUnicode=true&characterEncoding=utf8&useSSL=false&useAffectedRows=true
    username: root
    password: lion

---
#release
spring:
  profiles: release
  datasource:
    url: jdbc:mysql://47.52.105.7:3306/saberdb?useUnicode=true&characterEncoding=utf8&useSSL=false&useAffectedRows=true
    username: root
    password: lion

