spring:
  profiles:
    active: release
server:
  port: 12034
mybatis:
    configuration:
      map-underscore-to-camel-case: true
logging:
  path: /usr/local/tomcat/logs/example
---
#dev
spring:
  profiles: dev
  datasource:
    url: jdbc:mysql://47.52.105.7:3306/saberdb?useUnicode=true&characterEncoding=utf8&useSSL=false&useAffectedRows=true
    username: root
    password:

---
#release
spring:
  profiles: release
  datasource:
    url: jdbc:mysql://47.52.105.7:3306/saberdb?useUnicode=true&characterEncoding=utf8&useSSL=false&useAffectedRows=true
    username: root
    password:

